In [2]:
import networkx as nx
import matplotlib.pyplot as plt
from itertools import chain, combinations
import numpy as np
import pandas as pd

from collections import defaultdict
def powerset(s):
    x = len(s)
    masks = [1 << i for i in range(x)]
    result = []
    for i in range(1 << x):
        result.append([ss for mask, ss in zip(masks, s) if i & mask])
    return result

In [6]:
def radical_polynomial(g):
    F = raw_char_poly(g)
    factors = F.factor()
    result = 1
    for factor in factors:
        result *= factor[0]
    return result    

def factorization_type(f):
    factors = f.factor()
    result = []
    for factor in factors:
        result.append(factor[0].degree())
    return tuple(sorted(result))

def number_of_isomorphism_class(q,n):
    F.<a> = GF(q)
    R.<x> = PolynomialRing(F)
    vertice = elements_quotient_ring = list(R.polynomials(max_degree=n))
    monic_pols = [item for item in vertice if item.degree()==n and item.is_monic()]
    d = {}
    for item in monic_pols:
        fact_type = factorization_type(item)
        if fact_type in d:
            d[fact_type] +=1 
        else:
            d[fact_type] = 1
    return d 

def number_of_irr_poly(q,n):
    F.<a> = GF(q)
    R.<x> = PolynomialRing(F)
    vertice = elements_quotient_ring = list(R.polynomials(max_degree=n))
    monic_pols = [item for item in vertice if item.degree()==n and item.is_monic() and item.is_irreducible()]
    return len(monic_pols)

def explicit_number_of_irr(q,n):
    count = 0 
    for d in range(1,n+1):
        if n % d == 0:
            count += moebius(n//d)*q^d
    return count//n        
        
def euler_function(f,R):
    n = f.degree()-1
    vertice = elements_quotient_ring = list(R.polynomials(max_degree=n))
    if n != -1: 
        count = 0 
        for item in vertice:
            if gcd(f,item)==1:
                count +=1 
        return count 
    else:
        return 1
        
        

def gcd_determinant(f,R):
    f_divisors = all_divisors_new(f)
    M = len(f_divisors)
    A = matrix.identity(M)
    for i in range(M):
        for j in range(M):
            A[i,j] = ramanujan_sum(f_divisors[i], f_divisors[j],R)
    return A

In [7]:
primes = [2, 3,4, 5, 7, 8, 9, 11]
data = []
n = 1 
for q in primes:
    data.append(len(number_of_isomorphism_class(q,n)))
data

[1, 1, 1, 1, 1, 1, 1, 1]

In [8]:
df = pd.DataFrame(columns=primes)
df.loc[1]=data
df

   2  3  4  5  7  8  9  11
1  1  1  1  1  1  1  1   1

In [9]:
for n in range(2,5):
    data = [len(number_of_isomorphism_class(q,n)) for q in primes]
    df.loc[n] = data
df

   2  3   4   5   7   8   9  11
1  1  1   1   1   1   1   1   1
2  3  3   3   3   3   3   3   3
3  4  5   5   5   5   5   5   5
4  7  9  10  10  10  10  10  10

In [10]:
for n in range(5,6):
    data = [len(number_of_isomorphism_class(q,n)) for q in primes]
    df.loc[n] = data
df

   2   3   4   5   7   8   9  11
1  1   1   1   1   1   1   1   1
2  3   3   3   3   3   3   3   3
3  4   5   5   5   5   5   5   5
4  7   9  10  10  10  10  10  10
5  9  12  13  14  14  14  14  14

In [19]:
for n in range(6,7):
    data = [len(number_of_isomorphism_class(q,n)) for q in primes]
    df.loc[n] = data
df

    2   3   4   5   7   8   9  11
1   1   1   1   1   1   1   1   1
2   3   3   3   3   3   3   3   3
3   4   5   5   5   5   5   5   5
4   7   9  10  10  10  10  10  10
5   9  12  13  14  14  14  14  14
6  15  22  24  25  26  26  26  26